body {
    background: #0d0d0d;
    color: white;
    font-family: 'Lobster', cursive;
    margin: 0;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 32px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 80px;     
    margin-top: 40px;
}


.gallery {
    width: 60%;
    margin: 40px auto;
    
    display: flex;
    flex-direction: column;
    align-items: center;     
    text-align: center;     
    
    gap: 40px;
}

.foto {
    width: 80%;             
    max-width: 700px;        
}

.foto img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    border-radius: 20px;
    border: 3px solid #555;
    transition: transform 0.3s;
}

.foto img:hover {
    transform: scale(1.03);
}

.descripcion {
    font-family: 'Lobster', cursive;
    font-size: 32px;          
    text-align: center;     
    color: white;
    width: 70%;
    margin: 0 auto 40px auto; 
    line-height: 1.5;        
}

