body {
    margin: 0;
    background: #0d0d0d;
    color: white;
    font-family: 'Lobster', cursive;
    overflow-y: auto; 
}

html {
    height: 100%;
    overflow-y: auto;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 32px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.top-bar a:hover {
    color: #f8d48a;
}

.title {
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
}

.menu-container {
    width: 70%;
    margin: 60px auto;
    padding-bottom: 120px; 
}

.item {
    border-bottom: 1px solid #666;
    padding: 20px 0;
}

.item h2 {
    font-size: 45px;
    margin: 0;
}

.item p {
    font-size: 25px;
    margin: 5px 0 0;
    opacity: 0.8;
}
