body {
    background: #0d0d0d;
    color: white;
    font-family: 'Lobster', cursive;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 32px;
}

.top-bar a {
    color: white;
    text-decoration: none;
}

.title {
    text-align: center;
    font-size: 70px;
    margin-top: 40px;
}

.form-container {
    width: 40%;
    margin: 50px auto;
    background: #1a1a1a;
    padding: 40px;
    border-radius: 20px;
    border: 2px solid #555;
}

form label {
    font-size: 30px;
}

form input, form select {
    width: 100%;
    padding: 14px;
    margin: 15px 0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
}


.btn {
    width: 100%;
    padding: 15px;
    font-size: 30px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    background: #f8d48a;
    cursor: pointer;
}

.confirmacion {
    margin-top: 25px;
    background: #004d1a;
    padding: 20px;
    border-radius: 10px;
    font-size: 28px;
    display: none;
    text-align: center;
}


